@import "reset";
@import "media";
@import "variables";

body {
    color: #222;
    font-family: 'Roboto', 'Open Sans', 'Arial';
    font-size: 17px;
    padding: 30px;

    @include screen-md {
        padding: 40px;  
    }
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    transition: all linear 0.2s;
    display: inline-block;

    &:hover {
        color: blue;
        transform: translateX(1px)
    }
}

i {
    background: #000;
    color: $colorPrimary;
    display: inline-block;
    padding: 1px 5px;
    margin: 0 0 2px;
    font-style: normal;
}

main {
    max-width: 900px;
}

small {
    font-weight: 700;
    color: #999;
}